{% extends 'layout.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card">
          <h4 class="card-header">Doctor Registration</h4>
            <div class="card-body">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              <form method="post" action="">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username"  class="form-control" id="username" />
                  </div>
                  <div class="mb-3">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Register</button>
                  <p>Already have an account? <a href="{% url 'doctor_login' %}">Login here</a>.</p>
              </form>
            </div>
         </div>
    </div> 
</div>
{% endblock %}

